.gridContainer {
  display: grid;
  grid-template-areas:
    "img1 img1 img2"
    "img1 img1 img3"
    "img6 img5 img4"
    "img7 img9 img9"
    "img8 img9 img9"
    "img10 img11 img12"
    "img15 img15 img13"
    "img15 img15 img14"
    "img16 img17 img18"
    "img19 img19 img19"
    "img20 img20 img21"
    "img20 img20 img22"
    "img23 img23 img23";

    grid-gap: 10px;
    padding: 100px;
}

.img1 {
  grid-area: img1;
  img {
    width: 100%;
    height: 100%;
  }
}
.img2 {
  grid-area: img2;
  img {
    width: 100%;
    height: 100%;
  }
}
.img3 {
  grid-area: img3;
  img {
    width: 100%;
    height: 100%;
  }
}
.img4 {
  grid-area: img4;
  img {
    width: 100%;
    height: 100%;
  }
}
.img5 {
  grid-area: img5;
  img {
    width: 100%;
    height: 100%;
  }
}
.img6 {
  grid-area: img6;
  img {
    width: 100%;
    height: 100%;
  }
}
.img7 {
  grid-area: img7;
  img {
    width: 100%;
    height: 100%;
  }
}
.img8 {
  grid-area: img8;
  img {
    width: 100%;
    height: 100%;
  }
}
.img9 {
  grid-area: img9;
  img {
    width: 100%;
    height: 100%;
  }
}
.img10 {
  grid-area: img10;
  img {
    width: 100%;
    height: 100%;
  }
}
.img11 {
  grid-area: img11;
  img {
    width: 100%;
    height: 100%;
  }
}
.img12 {
  grid-area: img12;
  img {
    width: 100%;
    height: 100%;
  }
}
.img13 {
  grid-area: img13;
  img {
    width: 100%;
    height: 100%;
  }
}
.img14 {
  grid-area: img14;
  img {
    width: 100%;
    height: 100%;
  }
}
.img15 {
  grid-area: img15;

  img {
    width: 100%;
    height: 100%;
  }
}
.img16 {
  grid-area: img16;

  img {
    width: 100%;
    
  }
}
.img17 {
  grid-area: img17;

  img {
    width: 100%;
    
  }
}
.img18 {
  grid-area: img18;

  img {
    width: 100%;
    
  }
}
.img19 {
  grid-area: img19;

  img {
    width: 100%;
    
  }
}
.img20 {
  grid-area: img20;

  img {
    width: 100%;
    height: 100%;
    
  }
}
.img21 {
  grid-area: img21;

  img {
    width: 100%;
    height: 100%;
    
  }
}
.img22 {
  grid-area: img22;

  img {
    width: 100%;
    height: 100%;
    
  }
}
.img23 {
  grid-area: img23;

  img {
    width: 100%;
    
  }
}
